<%- include("header", {type:'signin'}) %>
<div class="container">
    <form class="form create" method="POST">
        <div>
            <label>用户名:</label>
            <input type="text" placeholder="用户名" name="name">
        </div>
        <div>
            <label>密码:</label>
            <input type="password" placeholder="密码" name="password">
        </div>
        <div class="submit">登录</div>
    </form>
</div>
<script>
    $(window).keyup(function(e){
        if(e.keyCode == 13){
            $('.submit').click()
        }
    })
    $('.submit').click(()=>{
            if ($('input[name=name]').val().trim() == '' || $('input[name=password]').val().trim() == '' ) {
                fade('请输入用户名或密码')
            }else{
                console.log($('.form').serialize())
                $.ajax({
                    url: "/signin",
                    data: $('.form').serialize(),
                    type: "POST",
                    cache: false,
                    dataType: 'json',
                    success: function (msg) {
                        if (!msg) {
                            $('input').val('')
                            fade('用户名或密码错误')
                        } else{
                            fade('登录成功')
                            setTimeout(()=>{
                                window.location.href = "/posts"
                            },1500)                 
                        }
                    },
                    error: function () {
                        alert('异常');
                    }
                })          
            }
        })
</script>
<% include footer %>